// Font mixin
@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
	@font-face {
		font-family: $font-family;
		src: 				url($file-path + $font-family + '.eot');
		src: local('☺'), 	url($file-path + $font-family + '.woff') format('woff'), 
							url($file-path + $font-family + '.ttf') format('truetype'), 
							url($file-path + $font-family + '.svg') format('svg');
		font-weight: $weight;
		font-style: $style;
	}
}

//===============================
		// Include fonts
//===============================

// @include font-face('NameFont', '../Fieldonfont/');
