// Large devices Desktops 
@media screen and (max-width: 1200px) {
  
}
// Medium devices 
@media screen and (max-width: 992px) {
  
}
// Small devices Tablets 
@media screen and (max-width: 768px) {
	
}
// Extra small devices 
@media screen and (max-width: 640px) {
	
}
// Large mobile
@media screen and (max-width: 480px) {
	//===============================
		// add class in grid col-xxs
	//===============================
	.col-xxs {
		width: 100% !important;
	} 
}
// Mobile
@media screen and (max-width: 320px) {
	
}
