@import "settings";	// Переменные
@import "fonts"; // Шрифты
//===============================
		// MAIN-STYLE
//===============================
html, body {
	width: 100%;
}
body {
	font-family: 'Open sans', 'Helvetica';
	line-height: 1.5;
	font-size: 16px;
	color: #000;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}
a {
	color: inherit;
	text-decoration: none;
	&:hover,
	&:focus {
		text-decoration: none;
		outline: none;
		color: inherit;
	}
}
p {
	margin: 0;
	padding: 0;
}
input,
textarea {
	outline: none;
	&:focus {
		outline: none;
	}
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
//===============================
		// end MAIN-STYLE
//===============================

body {
	
}


@import "media"; //Всегда в конце
