<!-- FOOTER -->
	<footer class="footer">
		
	</footer>
<!-- end FOOTER -->
	
<!-- Подключение javscript -->
	<script src="assets/libs/jQuery/jquery-3.1.1.min.js"></script>
	<script src="assets/libs/fancybox/jquery.fancybox.min.js"></script>
	<script src="assets/libs/slick-1.6.0/slick.min.js"></script>
	<script src="assets/libs/wow/wow.min.js"></script>
	<script src="assets/js/common.js"></script>
<!-- end -->

</body>
</html>